<p id="notice"><%= notice %></p>

<p>
  <strong>投稿内容:</strong>
  <%= @article.content %>
</p>
<p>
  <strong>投稿者:</strong>
  <%= @article.name %>
</p>

<button class="btn btn-success" type="button" name="button"><%= link_to '編集', edit_article_path(@article), class: "btn-text" %></button>
<button class="btn btn-secondary" type="button" name="button"><%= link_to '戻る', articles_path, class: "btn-text" %></button>
